.socialIcons {
  border-radius: 50%;
  border: 2px solid black;
}

.glow:focus {
  border: 2px solid #dadada;
  -webkit-appearance: none !important;
  -webkit-box-shadow: 0 0 10px #9ecaed !important;
  -moz-box-shadow: 0 0 10px #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.glow:hover {
  border: 2px solid #dadada;
  -webkit-appearance: none !important;
  -webkit-box-shadow: 0 0 10px #9ecaed !important;
  -moz-box-shadow: 0 0 10px #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.glowGreen:focus {
  border: 2px solid #1be718;
  -webkit-appearance: none !important;
  -webkit-box-shadow: 0 0 10px #9ecaed !important;
  -moz-box-shadow: 0 0 10px #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.glowGreen:hover {
  border: 2px solid #1be718;
  -webkit-appearance: none !important;
  -webkit-box-shadow: 0 0 10px #9ecaed !important;
  -moz-box-shadow: 0 0 10px #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
